---
import Header from "../components/header/Header";
import Hero from "../components/header/Hero";
import Service from "../components/servicios/Service"
import SectionMe from "../components/focusOnMe/SectionMe"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body>
		<div class="">
			<Header client:load/>
			<Hero/>
			<Service client:load/>
			<SectionMe/>

		</div>
	</body>
</html>
